@using BFCAI.Utility.Shared
@model BFCAI.Models.ViewModels.CoursePageVM

@{
    Layout = "_RegistreationLayout";
}
<style>
    body{
                background-color: #fff;
    }
    h6 {
        font-weight: bold;
    }

    .coursesPage {
        display: flex;
        align-items: start;
        justify-content: start;
        margin-bottom:40px;
    }
    .filterPart{
        width:25%;
    }

    .courses{
        width: 75%;
    }


</style>
<section class="coursesPage d-flex container">

    <div class="filterPart">
        @await Html.PartialAsync("_partialFilterView", (CourseParam)ViewBag.Filters)

    </div>
    <div id="courses" class="courses d-flex justify-content-between align-items-center container p-1 mb-5">

        <div class=" p-3 courseSection ">

            <div class="mb-4">
                @if (ViewBag.Search != null)
                {
                    <h4>
                        Courses that have <span class="text-warning">@ViewBag.Search</span>
                    </h4>
                }
                else if (ViewBag.InstructorId!=null)

                {
                    
                <h4>Courses for You by @Model.PagedCourseList.Items.FirstOrDefault().InstructorName</h4>
                }
            </div>
            <div id="main" class="top-courses ">
                @if(Model.PagedCourseList.Items.Any()){
                    @foreach (var course in Model.PagedCourseList.Items)
                    {



                        <div id="card-@course.CourseID" class="one-course" onclick="goTo('Customer','Home','details',@course.CourseID)" onmouseover="openModalWhenHover(@course.CourseID, 'main')" onmouseleave="closeModal(@course.CourseID, 'main')">
                            <div class="course-video mb-3">
                                <img src="/Covers/@course.Image" alt="Alternate Text" />
                            </div>
                            <div class="course-title">
                                <h5>@course.Title</h5>
                            </div>
                            <div class="w-75 instructor">
                                <h6>@course.InstructorName</h6>
                            </div>

                            <!-- Rating -->
                            <div class="rating">
                                @for (int i = 0; i < course.Rate; i++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                                @for (int i = 0; i < (5 - course.Rate); i++)
                                {
                                    <span class="fa fa-star-o"></span>
                                }
                            </div>

                            <!-- Price -->
                            <div class="price">
                                <span> $@course.Price</span>
                            </div>

                            <!-- Hidden modal for each course -->
                            <div class="modal-test p-4" id="modal-main-@course.CourseID">
                                <!-- Course Name Section -->
                                <div class="modal-course-header ">
                                    <h3 class="modal-course-name mb-3">@course.Title</h3>
                                    <h5>by <span>@course.InstructorName</span></h5>
                                </div>

                                <!-- Course Stats Section -->
                                <div class="modal-course-details d-flex justify-content-between mb-2">
                                    <div class="course-videos">
                                        <span><i class="fas fa-play-circle me-2"></i>@course.VideosCount Videos</span>
                                    </div>

                                    <div class="course-enrollments">
                                        <span><i class="fas fa-users me-2"></i>@course.NumOfEnrolments Enrolled</span>
                                    </div>
                                </div>

                                <!-- Course Description Section -->
                                <div class="modal-course-description mb-2">
                                    <p> @course.Description</p>
                                </div>

                                <!-- Course Topics and Objectives Section -->
                                <div class="modal-course-about ">

                                    <div class="course-objectives ">

                                        <ul class="list-unstyled">
                                            @foreach (var item in course.LearningObjectives)
                                            {
                                                <li class="d-flex justify-content-start align-items-baseline gap-1">

                                                    <i class="fas fa-check-circle text-success me-2"></i>

                                                    <p class="m-1"> @item</p>


                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <!-- Course Call to Action -->
                                <div class="d-flex justify-content-center mt-2">
                                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-courseId="@course.CourseID" asp-route-quantity="1" class="btn cus-btn px-5 py-2" style="border-radius: 5px; font-size: 1.1rem;">Add to Cart</a>
                                </div>
                            </div>

                        </div>









                    }
                }
                else
                {
                    <h6>No Result Found ...</h6>
                }

            </div>
        </div>
    </div>
</section>