@model BFCAI.Models.ViewModels.DetailsVM
@{
    Layout = "~/Views/Shared/_RegistreationLayout.cshtml";
}
<style>
    .this-course-about-content ul .btn {
        position: relative;
    }

        .this-course-about-content ul .btn:before {
            content: ' ';
            position: absolute;
            bottom: -18px;
            left: 0;
            height: 0px;
            width: 0%;
            background-color: purple;
            transition: 0.2s;
        }

        .this-course-about-content ul .btn:hover::before,
        .this-course-about-content ul .btn:active::before,
        .this-course-about-content ul .btn:focus::before {
            height: 3px;
            width: 95%;
        }
</style>
<section class="this-course container-fluid mb-5">
    <div class="this-course-header-title mb-4">
        <h3 class="ms-3">@Model.Course?.CourseName</h3>
    </div>
    <section class="this-course-details container">
        <div class="this-course-video">
            <video class="w-100 h-100" controls="controls">
                <source src="@Model.Course?.DemoVideoUrl" type="video/mp4" />
            </video>
        </div>
        <div class="this-course-info">
            <div class="this-course-info-name">
                <h4>@Model.Course?.CourseName</h4>
            </div>
            <div class="this-course-info-description">
                <h6>@Model.Course?.Description</h6>
            </div>
            <div class="this-course-info-process d-flex justify-content-start gap-2 align-items-center">
                <div class="rating">
                    @for (int i = 0; i < Model.Course?.Rate; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                    @for (int i = 0; i < (5 - Model.Course?.Rate); i++)
                    {
                        <span class="fa fa-star-o"></span>
                    }
                    (@Model.Course?.Feedbacks.Count Rating)
                </div>
                <div class="num-of-student">
                    <span>@Model.Course?.Enrollments.Count students</span>
                </div>
                <div class="num-of-videos">
                    <span>@Model.Course?.CourseVideos.Count Videos</span>
                </div>

            </div>
            <div class="created-by">
                Created By <span>
                    <a href="">

                        @Model.Course?.Instructor?.FullName
                    </a>
                </span>
            </div>
            <!-- Price -->
            <div class="price">
                <span> $@Model.Course?.Price</span>
            </div>
            <div class="enroll-btn mt-3 w-100 d-flex justify-content-center align-items-center">
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-courseId="@Model.Course?.CourseID" asp-route-quantity="1" class="w-75 btn cus-btn">Enroll</a>
            </div>
        </div>

    </section>
</section>

<section class="container this-course-about-content">
    <div>
        <ul class="d-flex list-unstyled justify-content-start align-items-center gap-3">

            <li><a id="btn-0" class="btn" onclick="getObjectives(@Model.Course?.CourseID,0)"> Objective Learning</a></li>
            <li><a id="btn-1" class="btn" onclick="GetTopics(@Model.Course?.CourseID,1)">Topics Cover</a></li>
            <li><a id="btn-2" class="btn">Content</a></li>

        </ul>
    </div>
    <hr />
    <section id="selected" class="container mb-5">
        


            @foreach (var item in Model.Course?.LearningObjectives)
            {
                <li class="d-flex justify-content-start align-items-baseline gap-1">

                    <i class="fas fa-check-circle text-success me-2"></i>

                    <p class="m-1">
                      @item.Objective
                    </p>


                </li>

            }
      
    </section>
</section>




<section class="container related-course-learning courses container p-3 mb-5">
    <div class="mb-4">
        <h4 class="fw-bold"> Students Also Learn && Recommendation</h4>
    </div>
    <div id="main" class="top-courses ">
        @foreach (var course in Model.RelatedCourses.Where(e=>e.CourseID!=Model.Course.CourseID))
        {



            <div id="card-@course.CourseID" class="one-course" onclick="goTo('Customer','Home','Courses',@course.CourseID)" onmouseover="openModalWhenHover(@course.CourseID, 'main')" onmouseleave="closeModal(@course.CourseID, 'main')">
                <div class="course-video mb-3">
                    <img src="/Covers/@course.ImgCover" alt="Alternate Text" />
                </div>
                <div class="course-title">
                    <h5>@course.CourseName</h5>
                </div>
                <div class="w-75 instructor">
                    <h6>@course.Instructor?.FullName</h6>
                </div>

                <!-- Rating -->
                <div class="rating">
                    @for (int i = 0; i < course.Rate; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                    @for (int i = 0; i < (5 - course.Rate); i++)
                    {
                        <span class="fa fa-star-o"></span>
                    }
                </div>

                <!-- Price -->
                <div class="price">
                    <span> $@course.Price</span>
                </div>

                <!-- Hidden modal for each course -->
                <div class="modal-test p-4" id="modal-main-@course.CourseID" style="max-width: 700px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #fff;">
                    <!-- Course Name Section -->
                    <div class="modal-course-header ">
                        <h3 class="modal-course-name mb-3">@course.CourseName</h3>
                        <h5>by <span>@course.Instructor?.FullName</span></h5>
                    </div>

                    <!-- Course Stats Section -->
                    <div class="modal-course-details d-flex justify-content-between mb-2">
                        <div class="course-videos">
                            <span><i class="fas fa-play-circle me-2"></i>@course.CourseCurricula.Count Videos</span>
                        </div>

                        <div class="course-enrollments">
                            <span><i class="fas fa-users me-2"></i>@course.Enrollments.Count Enrolled</span>
                        </div>
                    </div>

                    <!-- Course Description Section -->
                    <div class="modal-course-description mb-2">
                        <p> @course.Description</p>
                    </div>

                    <!-- Course Topics and Objectives Section -->
                    <div class="modal-course-about ">

                        <div class="course-objectives ">

                            <ul class="list-unstyled">
                                @foreach (var item in course.LearningObjectives)
                                {
                                    <li class="d-flex justify-content-start align-items-baseline gap-1">

                                        <i class="fas fa-check-circle text-success me-2"></i>

                                        <p class="m-1"> @item.Objective</p>


                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <!-- Course Call to Action -->
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn cus-btn px-5 py-2" style="border-radius: 5px; font-size: 1.1rem;">Add to Cart</button>
                    </div>
                </div>

            </div>









        }
    </div>
</section>



















<section id="instructor-courses" class="courses container p-3 mb-5">
    <div class="mb-4">
        <h4 class="fw-bold">More Courses by <a href="" class="text-decoration-none">@Model.Course.Instructor?.FullName</a></h4>
    </div>
    <div id="main" class="top-courses ">
        @foreach (var course in Model.InstructorCourses)
        {



            <div id="card-@course.CourseID" class="one-course" onclick="goTo('Customer','Home','Courses',@course.CourseID)" onmouseover="openModalWhenHover(@course.CourseID, 'main')" onmouseleave="closeModal(@course.CourseID, 'main')">
                    <div class="course-video mb-3">
                        <img src="/Covers/@course.ImgCover" alt="Alternate Text" />
                    </div>
                    <div class="course-title">
                        <h5>@course.CourseName</h5>
                    </div>
                    <div class="w-75 instructor">
                        <h6>@course.Instructor?.FullName</h6>
                    </div>

                    <!-- Rating -->
                    <div class="rating">
                        @for (int i = 0; i < course.Rate; i++)
                        {
                            <span class="fa fa-star"></span>
                        }
                        @for (int i = 0; i < (5 - course.Rate); i++)
                        {
                            <span class="fa fa-star-o"></span>
                        }
                    </div>

                    <!-- Price -->
                    <div class="price">
                        <span> $@course.Price</span>
                    </div>

                    <!-- Hidden modal for each course -->
                    <div class="modal-test p-4" id="modal-main-@course.CourseID" style="max-width: 700px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #fff;">
                        <!-- Course Name Section -->
                        <div class="modal-course-header ">
                            <h3 class="modal-course-name mb-3">@course.CourseName</h3>
                            <h5>by <span>@course.Instructor?.FullName</span></h5>
                        </div>

                        <!-- Course Stats Section -->
                        <div class="modal-course-details d-flex justify-content-between mb-2">
                            <div class="course-videos">
                                <span><i class="fas fa-play-circle me-2"></i>@course.CourseCurricula.Count Videos</span>
                            </div>

                            <div class="course-enrollments">
                                <span><i class="fas fa-users me-2"></i>@course.Enrollments.Count Enrolled</span>
                            </div>
                        </div>

                        <!-- Course Description Section -->
                        <div class="modal-course-description mb-2">
                            <p> @course.Description</p>
                        </div>

                        <!-- Course Topics and Objectives Section -->
                        <div class="modal-course-about ">

                            <div class="course-objectives ">

                                <ul class="list-unstyled">
                                    @foreach (var item in course.LearningObjectives)
                                    {
                                        <li class="d-flex justify-content-start align-items-baseline gap-1">

                                            <i class="fas fa-check-circle text-success me-2"></i>

                                            <p class="m-1"> @item.Objective</p>


                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!-- Course Call to Action -->
                        <div class="d-flex justify-content-center mt-2">
                            <button class="btn cus-btn px-5 py-2" style="border-radius: 5px; font-size: 1.1rem;">Add to Cart</button>
                        </div>
                    </div>

                </div>
            








        }
    </div>
</section>